/* BASE */
@import '/fonts/Gilroy/stylesheet.css';
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,600);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "Gilroy", sans-serif;
  color: #1e1e1e;
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header {
  background-color: #2d2f33;
  background-image: url("/content/header/background.jpg");
  aspect-ratio: 1440/1084;
  background-size: cover;
  color: #fff;
  padding-top: 40px;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("/content/header/background@2x.jpg");
  }
}

.header__nav__wrapper {
  margin-bottom: 86px;
}

.header__content__subtitle__wrapper {
  max-width: 606px;
  margin-top: 14px;
  margin: 0 auto;
}

.header__form__wrapper {
  margin: 0 auto;
}

/* DOTS */
.header__dot-sofa {
  position: absolute;
  left: 20.5555555556%;
  top: 63.7802607076%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.header__dot-vase {
  position: absolute;
  left: 7.8472222222%;
  top: 69.4649446494%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__dot-figure {
  position: absolute;
  left: 56.25%;
  top: 72.6014760148%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__dot-pot {
  position: absolute;
  right: 3.1944444444%;
  top: 75.7380073801%;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr 2fr;
  grid-template-columns: 2fr 8fr 2fr;
}

.nav__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.nav__list__link {
  font-size: 18px;
  font-weight: 500;
}

.nav__bag {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav__bag__counter {
  position: absolute;
  right: -6px;
  top: 4px;
  display: inline-block;
  height: 25px;
  background-color: #e58411;
  border-radius: 25px;
  line-height: 25px;
  padding: 0 6px;
}

.header__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__content__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}

.header__content__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.8;
}

.header__content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  width: 344px;
  padding: 8px 8px 8px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin: 45px auto 0;
}

.header__content__form__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e58411;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.info-dot {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.info-dot__point {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-animation: pulse 1s infinite alternate;
          animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__radius {
  -webkit-animation: pulse 1s infinite alternate paused;
          animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__point {
  background-color: #e58411;
}

.header__select {
  background-image: url("/content/header/select.svg");
  width: 112px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: -26px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.header__select__label {
  padding-top: 12px;
}

.header__select--check {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header__select--check:checked + .header__select--color {
  background-image: url("/content/header/check.svg");
  background-position: center center;
}

.header__select--color {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: grey;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header__select--color--orange {
  background-color: #e58411;
}
.header__select--color--blue {
  background-color: #00d6c9;
}
.header__select--color--grey {
  background-color: #7c7c7c;
}

/* BLOCK */