.footer {
    padding: clamp(3.125rem, 1.911rem + 6.07vw, 7.375rem) 0 58px;
    background-color: $colorBackground;
    color: rgba(255, 255, 255, 0.8);
}

.footer__grid {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr;

    margin-bottom: clamp(3.125rem, 1.911rem + 6.07vw, 7.375rem);

    @include mediaTablet {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

.footer___grid__logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    color: $colorWhite;

    p {
        font-size: 15px;
        font-weight: 500;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.8);
        margin-top: clamp(0.625rem, 0.286rem + 1.7vw, 1.813rem);
    }
}

.footer__grid__services {
    grid-column-start: 3;

    @include mediaTablet {
        grid-column-start: auto;
    }
}

.footer__grid__furniture {}

.grid__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.grid__list__elem:hover {
    color: $colorWhite;
}

.grid__list__elem:first-child {
    color: $colorAccentFooter;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mediaTablet--small {
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 15px;    
    }
}

.footer__row__copyright {}

.footer__row__info {
    display: flex;
    column-gap: 40px;

    a:hover {
        color: $colorWhite;
    }
}