.mobile__nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: clamp(15.625rem, 13.554rem + 10.36vw, 20rem);

    background-color: $colorBackground;
    color: $colorWhite;
    padding: 30px 30px;
    font-size: 22px;

    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.mobile__nav__dropdown__list {
    padding-left: 20px;
    font-size: 16px;

    display: grid;
    gap: 5px;
}

.mobile__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
}

.nav__bag__counter--mobile {
    font-size: 10px;
    right: -6px;
    height: 20px;
    line-height: 20px;
}