.header__content {
    align-items: center;
    text-align: center;
}



.header__content__title {
    font-size: 80px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

.header__content__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.8;
}



.header__content__form {
    display: flex;
    height: 56px;
    width: 344px;
    padding: 8px 8px 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 42px;
    border: 0.862px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);

    margin: 45px auto 0;
}

.header__content__form__input {
    flex-grow: 1;
    padding-right: 10px;
}

.header__content__form__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $colorAccent;
    flex-shrink: 0;
}