body {
    font-family: $fontMain;
    color: $colorText;
    font-size: 16px;
}

a {
    transition: color 0.2s linear;
    &:hover {
        // color: $colorAccent;
    }
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;

}

.none {
    display: none !important;
}

.titleH1 {
    // font-size: clamp();
    // font-weight: ;
    // line-height: ;
}

.titleH2 {
    // font-size: clamp();
    // font-weight: ;
    // line-height: ;
}

.titleH3 {
    // font-size: clamp();
    // font-weight: ;
    // line-height: ;

}

.subtitleP {
    // font-size: clamp();
    // font-weight: ;
    // line-height: ;

}


