/*FONTS*/

$fontMain: 'Gilroy', sans-serif;
$fontProduct: 'Inter', sans-serif;
$fontFooter: 'DM Sans', sans-serif;

/*FONTS*/

/*COLORS*/

$colorText: #1e1e1e;
$colorAccent: #e58411;
$colorWhite: #fff; 
$colorTextMuted: #8d8d8d;
$colorTextProuduct: #0d1b39;
$colorAccentFooter: #f6973f;
$colorBackground: #2d2f33;

$colorBlueUI: #00d6c9;
$colorGrayUI: #7c7c7c;
$colorAccentUI: #e58411;

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/